version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: smart_booking_db
    environment:
      POSTGRES_DB: smart_booking
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: